<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MLT</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope&amp;subset=cyrillic&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic&amp;display=swap">
    <link rel="stylesheet" href="assets/css/swiper-icons.css">
    <link rel="stylesheet" href="assets/css/nouislider.min.css">
    <link rel="stylesheet" href="assets/css/slider2.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body>
    <header>
        <div class="header-top__black">
            <div class="white-menu"><a href="#">Доставка и оплата</a><a href="#">Гарантия и возврат</a><a href="#">Цены</a><a href="#">Рекламации</a>
                <div class="white-menu__right"><a href="#">&nbsp; &nbsp; &nbsp;Санкт-Петербург</a></div>
            </div>
        </div>
        <nav class="navbar navbar-light navbar-expand-lg">
            <div class="container-fluid"><a class="navbar-brand" href="#"></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav navbar-main">
                        <li class="nav-item dropdown" id="catalog_dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Каталог&nbsp;&nbsp;</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#">Светодиодные драйверы<br></a><a class="dropdown-item" href="#">Светодиодные модули</a><a class="dropdown-item" href="#">Вторичная оптика</a><a class="dropdown-item" href="#"><strong>Корпуса для светильников</strong></a><a class="dropdown-item" href="#">Расходные материалы</a><a class="dropdown-item" href="#">Производство под заказ</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item type_icon" href="#">&nbsp; &nbsp; Каталог на блоки питания</a><a class="dropdown-item type_icon" href="#">&nbsp; &nbsp; Каталог на светодиодные модули</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">О компании</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Контакты</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Новости</a></li>
                        <li class="nav-item">
                            <div class="navbar-mainsearch"><a class="btn btn-primary btn-searchtoggle" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapse-1" href="#collapse-1" role="button"></a>
                                <div class="collapse" id="collapse-1">
                                    <form><input class="form-control htader-search" type="text"></form>
                                </div>
                            </div>
                        </li>
                    </ul><button class="btn btn-primary btn-mlt" type="button">Оставить заявку</button>
                </div>
                <div class="navbar-phones"><a href="#"><strong>+7 (812) 426-73-80</strong></a><a href="#">+7 (800) 333-40-72<br></a></div>
            </div>
        </nav>
    </header>
    <main>
        <section class="section-breadcrumbs">
            <p><a href="#">Главная</a>&nbsp;/&nbsp;<a href="#">Публикации</a>&nbsp;</p>
        </section>
        <section class="section-search">
            <div class="row">
                <div class="col articlehdr-container">
                    <h2 class="article-header">поиск</h2>
                </div>
            </div>
            <div class="row flex-wrap flex-sm-wrap flex-md-wrap flex-lg-nowrap flex-xl-nowrap flex-xxl-nowrap">
                <div class="col public-article">
                    <div class="search-input-block"><button class="btn btn-primary search-start" type="button"></button><input type="text" class="search-page-input" name="q" size="40"><button class="btn btn-primary search-clear" type="button"></button></div>
                    <p>Популярные запросы</p>
                    <div class="popular-queries">
                        <div class="popular-query">
                            <p>Paragraph</p>
                        </div>
                        <div class="popular-query">
                            <p>Paragraph</p>
                        </div>
                    </div>
                    <h4>результаты поиска</h4>
                    <p>Найдено: 6</p>
                </div>
                <div class="col flex-wrap flex-sm-wrap flex-md-nowrap flex-lg-nowrap flex-xl-nowrap flex-xxl-nowrap aside-col">
                    <div class="accordion mb20px" role="tablist" id="article-accordion-catalog">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button accordion-button__level1" type="button" data-bs-toggle="collapse" data-bs-target="#article-accordion-catalog .item-1" aria-expanded="true" aria-controls="article-accordion-catalog .item-1">КАТАЛОГ</button></h2>
                            <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#article-accordion-catalog">
                                <div class="accordion-body"><a class="filters-label banner-caps filter-catalog_link" href="#">светодиодные драйверы</a><a class="filters-label banner-caps filter-catalog_link" href="#">светодиодные модули</a><a class="filters-label banner-caps filter-catalog_link" href="#">светодиоды COB и SMD</a><a class="filters-label banner-caps filter-catalog_link" href="#">вторичная оптика</a><a class="filters-label banner-caps filter-catalog_link" href="#">корпуса для светильников</a><a class="filters-label banner-caps filter-catalog_link" href="#">расходные материалы</a><a class="filters-label banner-caps filter-catalog_link" href="#">производство под заказ</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" role="tablist" id="article-accordion-publics">
                        <div class="accordion-item">
                            <h2 class="accordion-header" role="tab"><button class="accordion-button accordion-button__level1" type="button" data-bs-toggle="collapse" data-bs-target="#article-accordion-publics .item-1" aria-expanded="true" aria-controls="article-accordion-publics .item-1"><strong>Публикации</strong></button></h2>
                            <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#article-accordion-publics">
                                <div class="accordion-body"><a class="filters-label banner-caps filter-catalog_link" href="#">светодиодные драйверы</a><a class="filters-label banner-caps filter-catalog_link" href="#">светодиодные модули</a><a class="filters-label banner-caps filter-catalog_link" href="#">светодиоды COB и SMD</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="section-feedback">
            <div class="spacer-flex"></div>
            <div class="feedback-form">
                <form>
                    <h3><strong>Свяжитесь с нами, если у Вас возникли вопросы!</strong></h3><input class="form-control" type="text" placeholder="Имя" name="Nickname"><input class="form-control" type="tel" placeholder="Телефон" name="Phone" inputmode="tel" autocomplete="on">
                    <p>Отправляя данные, вы принимаете <a href="index.html">пользовательское соглашение.</a></p><button class="btn btn-primary btn-mlt btn-mlt__form" type="submit">Связаться</button>
                </form>
            </div>
            <div class="spacer-flex"></div>
        </section>
        <section class="section-resume">
            <div class="row">
                <div class="col kontakts-col"><img src="assets/img/logo%202.svg">
                    <h4><strong>Производство комплектующих </strong><br><strong>для светодиодного освещения</strong></h4>
                    <p>г. Санкт-Петербург, 4-й Предпортовый проезд, дом № 5, оф. 106</p>
                    <p>+7 (800) 333-40-72<br>+7 (812) 426-73-80<br></p>
                    <p>info@m-l-t.ru</p><a class="telega-icon" href="#" style="background: url(&quot;assets/img/Telegram.svg&quot;);"></a><a class="vk-icon" href="#" style="background: url(&quot;assets/img/VK.svg&quot;);"></a>
                </div>
                <div class="col footer-catalog">
                    <h3><strong>Каталог</strong></h3><a href="#">Светодиодные драйверы</a><a href="#">Светодиодные модули</a><a href="#">Светодиоды</a><a href="#">Вторичная оптика</a><a href="#">Расходные материалы</a><a href="#">Производство под заказ</a>
                </div>
                <div class="col footer-info">
                    <h3><strong>Информация</strong></h3><a href="#">О компании</a><a href="#">Контакты</a><a href="#">Прайс-лист</a><a href="#">Доставка и оплата</a><a href="#">Новости</a><a href="#">Статьи</a>
                </div>
            </div>
            <div class="row">
                <div class="col china-col">
                    <h4>Производство в китае<br></h4>
                </div>
            </div>
            <div class="row">
                <div class="col china-addr">
                    <p>Zhongyuan Building Property Management Office Service Center 13 Gangkou 1st Rd Pengjiang, Jiangmen, Guangdong</p>
                </div>
                <div class="col china-tel">
                    <p>+86 136 00 355 118<br>+8613622575636<br>ledmeredian@gmail.com<br></p>
                </div>
            </div>
        </section>
        <div class="header-top__black header-bottom">
            <div class="white-menu"><a href="#">МЛТ © 2024 Все права защищены</a><a href="#">Политика конфиденциальности</a></div>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/additional.js"></script>
    <script src="assets/js/roll_page_up.js"></script>
    <script src="assets/js/numeral.min.js"></script>
</body>

</html>